[submodule "task_board_urdf"]
	path = external/task_board_urdf
	url = https://github.com/DAIRLab/task_board_urdf.git
[submodule "external/newton"]
	path = external/newton
	url = https://github.com/xuanhien070594/newton.git
	branch = hien/viser-opaque-batched
